# Arquivos compilados do Maven
/target/

# Arquivos de log
*.log

# Arquivos de banco de dados
*.db

# Configurações de IDEs
.idea/
*.iml
*.ipr
*.iws

# Arquivos do sistema operacional
.DS_Store
Thumbs.db